<!--CUSTOMER PAGE-->
{% extends "layout.html.twig" %}

{% block header %}
    {% include 'headerReport.html.twig' %}
{% endblock %}

{% block content %}
    {{ parent() }}
    <table border="1">
        <thead>
            <tr>
                <td>CUSTOMER ID</td>
                <td>FIRST NAME</td>
                <td>LAST NAME</td>
                <td>EMAIL</td>
                <td>ADDRESS</td>
                <td>POST CODE</td>
                <td>CITY</td>
                <td>COUNTRY</td>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
                <tr>
                    <td>{{ customer.getId() }}</td>
                    <td>{{ customer.getFirstName() }}</td>
                    <td>{{ customer.getLastName() }}</td>
                    <td>{{ customer.getEmail() }}</td>
                    <td>{{ customer.getAddress() }}</td>
                    <td>{{ customer.getPostcode() }}</td>
                    <td>{{ customer.getCity() }}</td>
                    <td>{{ customer.getCouid().getName() }}</td>
                </tr>
            {% else %}
                <strong>THE CUSTOMER TABLE IS EMPTY.</strong>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block footer %}
    {% include 'footer.html.twig' %}      
{% endblock %}  