<!--FOOTER-->
    <footer>
        <div class="grid-container">
            <div class="grid-x grid-padding-x footer">

                <!--Contact - col gauche-->
                <div class="large-4 medium-4 small-12 cell">
                    <article id="contact">
                        <h5>Contact</h5>
                        <p>
                            tequilateam2017@gmail.com
                        </p>
                    </article>
                </div>

                <div class="large-4 medium-4 small-12 cell">

                </div>

                <!--Legal Mention - col droit-->
                <div class="large-4 medium-4 small-12 cell">
                    <article id="legal">
                        <p>Legal Mentions</p>
                        <a href="{{ path ("team") }}"><p>Team</p></a>
                    </article>
                </div>
            </div>
        </div>


        <!--réseaux sociaux-->

        <div class="social">
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-f " id="linksfb"></i></a>
            <a href="https://plus.google.com/"><i class="fab fa-google-plus-g "id="linksG"></i></a>
            <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in links" id="linksLn"></i></a>
            <a href="https://github.com/Jeremy6717/Tequila_project"><i class="fab fa-github" id="linkGithub"></i></a>
        </div>

        <!--copyright-->
        <div>
        <p class="copyright"> Created with <i class="fas fa-heart"></i> by Team Tequila 2017 </p>
        </div>

    </footer>

            <script src="{{ asset('lib/foundation-6.4.2-complete/js/vendor/jquery.js') }}"></script>
            <script src="{{ asset('lib/foundation-6.4.2-complete/js/vendor/what-input.js') }}"></script>
            <script src="{{ asset('lib/foundation-6.4.2-complete/js/vendor/foundation.js') }}"></script>
            <script src="{{ asset('lib/foundation-6.4.2-complete/js/app.js') }}"></script>

</body>
