{# Header Reports pages #}
<header>

    <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle="example-menu"></button>
        <div class="title-bar-title">Menu</div>
    </div>

    <div class="top-bar" id="example-menu">
        <div class="top-bar-left">
            <ul>
            <li class="menu-text titleMenu"><a href="{{ path ("report") }}">Tequila</a></li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="dropdown menu" data-dropdown-menu>
                <li id="identification"><a href="">HOLA {{ user.getUsername() }}</a></li>
                <li class="titleMenu"><a href="{{ path ("logout") }}">Log Out</a>
                    <br>
                <li class="titleMenu"><a href="{{ path ("report") }}">Reporting</a>
                    <ul id="subMenu">
                        <li><a href="{{ path ("category") }}">Category</a></li>
                        <li><a href="{{ path ("orderlines") }}">Sales</a></li>
                        <li><a href="{{ path ("product") }}">Products</a></li>
                        <li><a href="{{ path ("customer") }}">Customer</a></li>
                        <li><a href="{{ path ("order") }}">Customers orders</a></li>
                        <li><a href="{{ path ("stock") }}">Stock</a></li>
                        <li><a href="{{ path ("marketing") }}">Marketing</a></li>
                    </ul>
                </li>
                <li class="titleMenu"><a href="{{ path ("team") }}">Team</a></li>
            </ul>
        </div>
    </div>

    <div class="row demo-toggle-title">
        <div class="columns">
            <h2 id="mainTitle">Welcome <br> to our reporting <br>application</h2>

        </div>
    </div>


</header>
