{% extends "layout.html.twig" %}

{% block header %}
    {% include 'headerReport.html.twig' %}
{% endblock %}

{% block content %}
    {{ parent() }}
    
    <h3>Segmentation Market</h3>
    
    <div id="chart_Customer"></div>
    
    <table border="1">
        <thead>
        <tr>
            <td>CUSTOMER ID</td>
            <td>FIRSTNAME</td>
            <td>LASTNAME</td>
            <td>GENDER</td>
            <td>DATE OF BIRTHDATE</td>
        </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td>{{ customer.getId() }}</td>
                <td>{{ customer.getFirstname() }}</td>
                <td>{{ customer.getLastname() }}</td>
                
                {% if customer.getGender == 1 %}
                    <td>Female</td>
                    {% else %}
                    <td>Male</td>
                {% endif %}
                
                <td>{{ customer.getDob() }}</td>
            </tr>
        {% else %}
            <strong>LA TABLE customer EST VIDE</strong>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}