{% extends "layout.html.twig" %}

{% block header %}
    {% include 'headerReport.html.twig' %}
{% endblock %}


{% block content %}
    {{ parent() }}

    <h3>Sales Report With VAT For Current Month</h3>
    
    <div class="orderBtn">
    <a href="{{ path ("orderlinescsv") }}">Export to CSV</a>
    </div>

    <div id="chart_div"></div>

    <table border="1">
        <thead>
            <tr>
                <td> DATE OF PURCHASE</td>
                <td> ORDER NUMBER</td>
                <td> TYPE OF PAYMENT</td>
                <td> CUSTOMER ACCOUNT NUMBER</td>
                <td> PRODUCT ID</td>
                <td> QUANTITY</td>
                <td> PRICE</td>
                <td> TAX INCLUSIVE</td>
                <td> VAT</td>

            </tr>
        </thead>
        <tbody>
            {% for orderline in orderlines %}
                <tr>
                    <td>{{ orderline.getOrder().getDate() }}</td>
                    <td>{{ orderline.getOrder().getId() }}</td>
                    <td>{{ orderline.getOrder().getPayment() }}</td>
                    <td>{{ orderline.getOrder().getCustid().getId() }}</td>
                    <td>{{ orderline.getProduct().getId() }}</td>
                    <td>{{ orderline.getQuantity() }}</td>  
                    <td>{{ orderline.getProduct().getPrice() }}</td>
                    {% set var_1 = orderline.getProduct().getPrice() %}
                    {% set var_2 = orderline.getProduct().getVat() %}

                    <td>{{ (var_1 * (1 + var_2/100)) }}</td> 
                    <td>{{ orderline.getProduct().getVat() }}</td>
                </tr>
            {% else %}
            <strong>THE ORDERLINES TABLE IS EMPTY.</strong>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
