{% extends "layout.html.twig" %}

{% block header %}
    {% include 'headerReport.html.twig' %}
{% endblock %}


{% block content %}
    {{ parent() }}
    <table border="1">
        <thead>
            <tr>
                <td>ORDERLINE ORDER ID</td>
                <td>ORDERLINE ORDER DATE</td>
                <td>ORDERLINE ORDER PAYMENT</td>
                <td>ORDERLINE CUSTOMER ID</td>
                <td>ORDERLINE CUSTOMER FIRST NAME</td>
                <td>ORDERLINE CUSTOMER LAST NAME</td>
                <td>ORDERLINE CUSTOMER COUNTRY</td>
                <td>ORDERLINE QUANTITY</td>
                <td>ORDERLINE PRODUCT ID</td>
                <td>ORDERLINE PRODUCT NAME</td>
                <td>ORDERLINE PRODUCT CATEGORY ID</td>
                <td>ORDERLINE PRODUCT CATEGORY NAME</td>
            </tr>
        </thead>
        <tbody>
            {% for orderline in orderlines %}
                <tr>
                    <td>{{ orderline.getOrder().getId() }}</td>
                    <td>{{ orderline.getOrder().getDate() }}</td>
                    <td>{{ orderline.getOrder().getPayment() }}</td>
                    <td>{{ orderline.getOrder().getCustid().getId() }}</td>
                    <td>{{ orderline.getOrder().getCustid().getFirstname() }}</td>
                    <td>{{ orderline.getOrder().getCustid().getLastname() }}</td>
                    <td>{{ orderline.getOrder().getCustid().getCouId().getName() }}</td>
                    <td>{{ orderline.getQuantity() }}</td>
                    <td>{{ orderline.getProduct().getId() }}</td>
                    <td>{{ orderline.getProduct().getName() }}</td>
                    <td>{{ orderline.getProduct().getCatId().getId() }}</td>
                    <td>{{ orderline.getProduct().getCatId().getName() }}</td>
                </tr>
            {% else %}
                <strong>THE ORDERLINES TABLE IS EMPTY.</strong>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block footer %}
    {% include 'footer.html.twig' %}
{% endblock %} 