{% extends "layout.html.twig" %}

{% block header %}
    {% include 'headerReport.html.twig' %}
{% endblock %}

{% block content %}
    {{ parent() }}

    <h3>Products By Category</h3>
    <div id="select">
        <div class="grid-container ">
            <div class="grid-x grid-padding-x footer">
                <div class="large-4 medium-4 small-12 cell">
                    <h5>Select Category</h5>
                    <select>
                        {% for category in categories %}
                            <option value="{{ category.getId() }}">{{ category.getName() }}</option>
                        {% endfor %}
                    </select>                
                </div>
            </div>
        </div>
        <div class="orderBtn">
            <a href="http://localhost/Tequila_project/web/index_dev.php/report/prod_in_cat">Submit</a>
        </div>    
        <div class="orderBtn">
            <a href="{{ path ("productscsv") }}">Export to CSV</a>
        </div>   
    </div> 
    <hr />
    <h3>All Products By Category</h3>

    <table border="1">
        <thead>
            <tr>
                <td>CATEGORY ID</td>
                <td>CATEGORY NAME</td>
                <td>PRODUCT ID</td>
                <td>PRODUCT NAME</td>
                <td>PRODUCT DESCRIPTION</td>
                <td>QUANTITY</td>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.getCatid().getId() }}</td>  
                    <td>{{ product.getCatid().getName() }}</td>  
                    <td>{{ product.getId() }}</td>
                    <td>{{ product.getName() }}</td>
                    <td>{{ product.getDescription() }}</td>
                    <td>{{ product.getStock() }}</td>
                </tr>
            {% else %}
            <strong>THE TABLE product IS EMPTY</strong>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

