{% extends "layout.html.twig" %}

{% block header %}
    {% include 'headerReport.html.twig' %}
{% endblock %}

{% block content %}
    {{ parent() }}
    <a href="{{ path ("productscsv") }}">EXPORT TO CSV</a>
    <table border="1">
        <thead>
            <tr>
                <td>product ID</td>
                <td>product NAME</td>
                <td>product DESCRIPTION</td>
                <td>product PRICE</td>
                <td>product STOCK</td>
                <td>product VAT</td>
                <td>product CATID</td>
                
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                
                <tr>
                    <td>{{ product.getId() }}</td>
                    <td>{{ product.getName() }}</td>
                    <td>{{ product.getDescription() }}</td>
                    <td>{{ product.getPrice() }}</td>
                    <td>{{ product.getStock() }}</td>
                    <td>{{ product.getVat() }}</td>
                    <td>{{ product.getCatid().getName() }}</td>                    

                </tr>
            {% else %}
                <strong>THE TABLE product IS EMPTY</strong>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block footer %}
    {% include 'footer.html.twig' %}      
{% endblock %}  