{% extends "layout.html.twig" %}

{% block header %}
    {% include 'headerSign.html.twig' %}
{% endblock %}


{% block content %}
    
    {{ form_start(form)}}
        <div class="grid-container" id="form">
            <fieldset>
                <h2>Sign up</h2>
                    <div class="grid-x grid-padding-x" id="form_data">
                        <div>
                            {{ form_row(form.firstname) }}
                            {{ form_row(form.lastname) }}
                            {{ form_row(form.username) }}
                            {{ form_row(form.email) }}
                            {{ form_row(form.password) }}
                        </div>
                        <div id="check">
                            <label>Do you want receive monthly report ?</label>
                            <input type="checkbox" name="user_report" id="checkBox_report">
                        </div>
                        <div id="check">
                            <label>Do you want receive newsletter ?</label>
                            <input type="checkbox" name="user_newsletter" id="checkBox_newsletter">
                        </div>
                        <div class="g-recaptcha" data-sitekey="6LcisTwUAAAAAClgE-1c8OteBGKiGZb3xpV1hAwR"  id="recapcha"></div>
                        <div>{{ form_row(form.submit) }}</div>
                        <div id="role">
                            <label for="usr_role">Role :</label>
                            <select name="usr_role">
                                <selected><option value="ROLE_ADMIN">ROLE_ADMIN</option></selected>
                            </select>
                        </div>
            </fieldset>
        </div>
    {{ form_end(form) }}

{% endblock %}





{% block footer %}
    {% include 'footer.html.twig' %}
{% endblock %}  

